.paymentSection {
  margin-top: 30px;
  margin-bottom: 60px;
}

.subtotalDiv{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
}

.subtotalDiv p {
 font-weight: 600;
}

.promotion {
  display: flex;
}

.promotion span {
  color: #b3babd;
  margin-left: 5px;
}

.completePayment {
  margin: 30px 0px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completePayment input {
 color: white;
 width: 200px;
 margin-left: 5px;
 height: 44px;
 font-family: 'Fira Sans', sans-serif;
 font-size: 16px;
 font-weight: 500;
 background: rgb(61, 61, 255);
 border: none;
 outline: none;
 border-radius: 5px;
}

.total p {
 font-weight: 700;
 font-size: 18px;  
}

@media screen and (max-width: 500px){
    .completePayment input {
        font-size: 12px;
        width: 150px;
    }  
}